<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="test-app-secret"/>
        <env name="AUTH_TOKEN_HMAC_SECRET" value="test-token-hmac-secret"/>
        <env name="PHOENIX_BASE_URL" value="http://localhost:4000"/>
        <env name="DATABASE_URL" value="postgres://test:test@localhost:5432/symfony_app_test"/>
    </php>
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
